:root {
  color-scheme: light dark;

  --clr-txt: light-dark(#000, #FFF);
  --clr-bg:light-dark(#efedea, #393b42); 
  --clr-danger: #982323; /* Signal red */
  --clr-brd: gray;
  --border: 1px solid var(--clr-brd);
  --border-radius: 0.4rem;
}
body {
  color: var(--clr-txt);
  background-color: var(--clr-bg);
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  font-size: 16px;
  font-family: Arial, sans-serif;
}

.form-group {
  display: block;
  margin: 0 0 1rem;
}

.error {
  color: var(--clr-danger);
}

.full-screen {
  /* TODO: actual style for the centered form */
}

.form {
  padding: 1rem;
  margin: 0 0 1rem;
  border: var(--border);
  border-radius: var(--border-radius)
}
